#content{
    header{
        position: fixed;
        top: 0 !important;
    }
    .menu{
        height: 450vh;
        overflow: hidden;
        font-family: $fam;
        margin: 0 auto;
        margin-top: 40px !important;
        max-width: 1200px;
        width: 100%;
        
        span{
            color: $primary-color;
        }
        .delicacies{
            display: flex;
            justify-content: space-between;
            &__icons{
                display: none;
                flex-direction: row;
                gap: 10px;
                margin-right: 60px;
                margin-bottom : 10px;
                .circle{
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    box-shadow: .5px .5px 3px .5px black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                i{
                    color: black;
                }
            }
        }
        .foodselection{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            text-align: center;
            margin-bottom: 40px;
        }
        .food_in_selection{
            width: 250px;
            height: 50px;
            padding: 10px;
            box-shadow: .5px .5px 3px .5px black;
            display: grid;
            align-items: center;
            justify-items: center;
            grid-template-columns: 0.6fr 2fr;
            border-radius: 10px;
            h3{
                justify-self: left;
            }
            .cont{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%
                }
            }
        }
        &__bestmenu{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            text-align: center;
            margin-bottom: 40px;
        }
        &__bestmain{
            width: 250px;
            height: 300px;
            box-shadow: .5px .5px 3px .5px black;
            display: grid;
            grid-template-rows: 1fr 0.1fr 0.1fr 0.9fr;
            border-radius: 10px;
            text-align: left;
            .star{
                padding-left: 5px;
            }
            .fa-star{
                color: $primary-color;
                padding-bottom: 30px;
                justify-items: start;
            }
            h4{
                padding: 5px;
            }
            img{
                width: 100%;
                object-fit: cover;
                background-image: cover;
                border-radius: 10px 10px 0px 0px;
            }
        }
        &__newmenu{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            text-align: center;
            margin-bottom: 40px;
            
        }
        &__newmain{
            width: 250px;
            height: 300px;
            box-shadow: .5px .5px 3px .5px black;
            display: grid;
            align-items: center;
            grid-template-rows: 1fr 0.1fr 0.8fr 0.1fr;
            border-radius: 10px;
            text-align: left;
            .star{
                padding-left: 5px;
            }
            .fa-star{
                color: $primary-color;
                padding-bottom: 30px;
                justify-items: start;
            }
            h4{
                padding: 5px;
            }
            img{
                width: 100%;
                object-fit: cover;
                background-image: cover;
                border-radius: 10px 10px 0px 0px;
            }
        }
        .article{
            margin-top: 70px;
            position: relative;
            &__details{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 20px;
                border-radius: 1px 50px 0px 50px;
                .__imgcont{
                    height: 80%;
                    width: 75%;
                    .createdzig{
                        width: 30%;
                        height: 30%;
                        position: absolute;
                        top: -7%;
                        left: 20%;
                        transform: rotate(30deg);
                    }
                    .createdzig:nth-child(2){
                        width: 30%;
                        height: 30%;
                        position: absolute;
                        z-index: 2;
                        top: -8%;
                        left: -8%;
                        transform: rotate(350deg);
                    }
                    .circle2{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 6px solid $primary-color;
                        position: absolute;
                        top: 79%;
                        display: inline;
                        left: 35%;
                    }
                    .circle{
                        width: 350px;
                        height: 350px;
                        border-radius: 50%;
                        border: 2px solid $primary-color;
                        position: absolute;
                        display: inline;
                        z-index: -1;
                        top: -5%;
                        left: -20%;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 1px 50px 0px 50px;
                    }
                }
                .__writeup{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;
                    width: 70%;
                    margin-bottom: 40%;
                    .createdzig{
                        width: 30%;
                        height: 30%;
                        position: absolute;
                        z-index: 2;
                        top: 0%;
                        right: -8%;
                        transform: rotate(120deg);
                    }
    
                    p{
                        font-size: .8rem;
                    }
                    .fillercont{
                        display: flex;
                        gap: 8px;
                        .fillerwords{
                            background-color: hsl(100, 0%, 89%);
                            border-radius: 10px;
                            padding: 5px;
                            width: 100px;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
            
        }
        .article2{
            position: relative;
            &__details{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 20px;
                margin-bottom: 20px;
                .__imgcont{
                    height: 140%;
                    width: 80%;
                    #createdzig3{
                        width: 30%;
                        height: 30%;
                        position: absolute;
                        top: 14%;
                        right: 65%;
                        transform: rotate(30deg);
                    }
                    #createdzig4{
                        width: 30%;
                        height: 30%;
                        position: absolute;
                        top: -34%;
                        right: 25%;
                        transform: rotate(30deg);
                    }
                    #createdzig5{
                        width: 20%;
                        height: 20%;
                        position: absolute;
                        top: 85%;
                        left: 20%;
                        transform: rotate(0deg);
                    }
                    .circle{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 6px solid $primary-color;
                        position: absolute;
                        top: 110%;
                        display: inline;
                        right: 90%;
                    }
                    .circle:nth-child(2){
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 6px solid $primary-color;
                        position: absolute;
                        top: 9%;
                        display: inline;
                        left: 2%;
                    }
                    .circle:nth-child(3){
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 6px solid $primary-color;
                        position: absolute;
                        bottom: 0%;
                        display: inline;
                        left: 35%;
                    }
                    .square{
                        width: 350px;
                        height: 350px;
                        border: 2px solid $primary-color;
                        position: absolute;
                        z-index: -1;
                        top: -7%;
                        display: inline;
                        right: 5%;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 1px 50px 0px 50px;
                    }
                }
                .__writeup{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 70%;
                    margin-top: 20%;
                    justify-content: center;
                    p{
                        font-size: .8rem;
                    }
                    .fillercont{
                        display: flex;
                        gap: 8px;
                        .fillerwords{
                            background-color: hsl(100, 0%, 89%);
                            border-radius: 10px;
                            padding: 5px;
                            width: 100px;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
            
        }
        .review{
            margin-top: 250px;
            .details{
                display: grid;
                grid-template-columns: .3fr 1fr;
                margin-top: 50px;
                position: relative;
                left: 25;
                transform: translate(15%, 25%);
                .__imgcont{
                    height: 140%;
                    width: 80%;
                    position: relative;
                    z-index: -1;
                    border-radius: 1px 50px 0px 50px;
                   
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 1px 50px 0px 50px;
                    }
                }
                &__writeup{
                    width: 60%;
                    height: 140%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: -30px;
                    padding: 0 10px;
                    .fa-star{
                        color: $primary-color;
                        justify-items: start;
                    }
                    p{
                        font-size: .8rem;
                    }
                    align-items: left;
                    box-shadow: .5px .5px 3px .5px black;
                }
            }
        }
    }
}