$main-size: 4rem;
$main: 16px;
$primary-color: #FFC440;
$fam: 'Poppins', sans-serif;
html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin transition-ease{
    transition: all 0.5 ease-in-out;
}
@mixin media-tab {
    @media screen and (max-width: 780px){
        @content;
    }
}
@mixin media-phone {
    @media screen and (max-width: 500px){
        @content;
    }
}
@mixin media-large {
    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin flow($selec){
    overflow: $selec;
}