#content{
    height: 100vh;
    .contact{
        .consquare{
            display: flex;
            position: absolute;
            width: 50%;
            height: 50%;
            min-width: 300px;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            justify-content: center;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(10px);
            h1{
                color: $primary-color;
            }
        }
    }
}