// I used bottom to top for the css. While the HTML is top to bottom
@include media-tab{
    #content{
        position: relative;
        html{
            font-size: .6rem;
        }
        body{
            // @include flow(hidden);
            overflow: auto;
        }
        .bg__image{
            display: none;
        }
        .plate{
            position: absolute;
            top: 55%;
            left: 56%;
            transform: translateY(100%);
            max-width: 200px !important;
            max-height: 200px !important;
            &__image{
                position: absolute;
                bottom: -2%;
                right: 0%;
            }
        }
        .wording{
            width: 300px;
            font-size: 1rem;
            top: 20%;
            transform: translate(0, -25%);
            z-index: 3;
        }
        .socials{
            color: $primary-color
        }
        .menu{
            height: 420vh;
            .review{
                .details{
                    .__imgcont{
                        min-height: 100px;
                        min-width: 130px;
                    }
                    &__writeup{
                        min-width: 150px;
                        margin-left: -5px;
                    }
                    
                }
            }
            .article2{
                margin-bottom: 50px;
                &__details{
                    .__imgcont{
                        min-height: 100px;
                        min-width: 120px;
                        img{
                            width: 90%;
                            height: 70%;
                        }
                        .square{
                            visibility: hidden;
                        }
                    }
                    .__writeup{
                        min-width: 300px;
                    }
                }
            }
            .article{
                &__details{
                    .__imgcont{
                        min-height: 100px;
                        min-width: 120px;
                        img{
                            width: 90%;
                            height: 70%;
                        }
                    }
                    .__writeup{
                        min-width: 300px
                    }
                }
            }
            &__newitems{
                .swiper{
                    width: 280px;
                    max-height: 320px;
                }
                .__newmain{
                    max-width: 250px;
                    max-height: 300x;
                }
                .heading{ 
                    .scrollers{
                        .holder{
                            visibility: visible;
                            .fa{
                                visibility: visible;
                            }
                        }
                    }
                }
            }
            &__bestseller{
                .__bestmain{
                    max-width: 250px;
                    max-height: 300px;
                }
                .swiper{
                    width: 280px;
                    max-height: 320px;
                }
                .heading{
                    .scrollers{
                        .holder{
                            visibility: visible;
                            .fa{
                                visibility: visible;
                            }
                        }
                    }
                }
            }
            .category{
                .food_in_selection{
                    max-width: 250px;
                    max-height: 50px;
                }
                .swiper{
                    width: 280px;
                    max-height: 60px;
                }
                .delicacies{
                    .scrollers{
                        .holder{
                            visibility: visible;
                            .fa{
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include media-phone{
    html, body{
        font-size: .7rem;
    }
    #content{
        .plate{
            position: absolute;
            height: 200px !important;
            width: 200px !important;
            left: 32%;
            transform: translateX(0);
            transform: translateY(150%);
        }
        header{
            .icon{
                visibility: hidden;
                &.cover{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center !important;
                    position: fixed;
                    top: 0;
                    right: 0;
                    left: 0;
                    gap: 25px;
                    z-index: 5;
                    font-size: 3rem;
                    background-color: rgba(0, 0, 0, 0.8);
                    height: 100vh;
                    width: 100vw;
                    visibility: visible;
                    transition: top 6s ease;
                    .button{
                        a{
                            color: white !important;
                        }
                    }
                }
            }
        .wording{
            position: absolute;
            top: 10%;
            width: 350px;
            height: 240px;
        }
        }
        .socials{
            display: none !important;
        }
        .hambuger{
            position: absolute;
            z-index: 9;
            height: 25px;
            width: 28px;
            top: 15px;
            right: 15px;
            cursor: pointer;
            @include transition-ease;
            &__burger{
                width: 25px;
                height: 3px;
                border: 5px;
                background-color: black;
                position: absolute;
                top: 0.5rem;
                right: 0;
                z-index: 7;
                @include transition-ease;
                &::after{
                    content: '';
                    width: 25px;
                    height: 3px;
                    border: 5px;
                    background-color: black;
                    position: absolute;
                    top: 8px;
                    @include transition-ease;
                }
                &::before{
                    content: '';
                    width: 25px;
                    height: 3px;
                    border: 5px;
                    background-color: black;
                    position: absolute;
                    top: -8px;
                    @include transition-ease;
                }
                &.open{
                    transform: rotate(360deg);
                    background: transparent;
                    &::before{
                        transform: rotate(45deg) translate(5px, 8px);
                        background-color: black;
                    }
                    &::after{
                        width: 28px;
                        transform: rotate(-45deg) translate(3px, -7px);
                        background-color: black;
                    }
                }
            }
        }
        
        .wording{
            width: 200px;
            padding: 3px;
            &__booknow{
                width: 20%;
            }
        }
    // catalog styling
    // bottom up
        .menu{
            height: 340vh;
            .review{
                margin-bottom: 50px;
                margin-top: 60px; 
                .details{
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    right: -3%;
                    transform: translate(10%, 10%);
                    .__imgcont{
                        min-height: 50px;
                        min-width: 120px;
                    }
                    &__writeup{
                        font-size: 1rem;
                        min-height: 80px;
                        min-width: 120px;
                        margin-left: 2px;
                    }
                }
            }
            .article2{
                &__details{
                    display: grid;
                    grid-template-columns: 1fr 0.4fr;
                    .__imgcont{
                        min-width: 80px;
                        min-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        #about_comp{
                            display: none
                        }
                        .square{
                            width: 100px;
                            height: 100px
                        }
                        .circle{
                            width: 15px;
                            height: 15px;
                            border: 1.5px solid $primary-color;
                        }
                        .circle:nth-child(2){
                            width: 15px;
                            height: 15px;
                            border: 1.5px solid $primary-color;
                        }
                        .circle:nth-child(3){
                            width: 15px;
                            height: 15px;
                            border: 1.5px solid $primary-color;
                        }
                    }
                    .__writeup{
                        min-width: 120%;
                        .wording__booknow{
                            font-size: 1.5rem;
                        }
                    }
                }
            } 
            .article{
                margin-bottom: 0px;
                &__details{
                    display: grid;
                    grid-template-columns: 0.4fr 1fr;
                    gap: 10px;
                    .__imgcont{
                        min-width: 80px;
                        min-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        #popular_delicacies{
                            display: block;
                            height: 75%;
                            width: 140%;
                        }
                        .square{
                            width: 100px;
                            height: 100px;
                            visibility: visible;
                        }
                        .circle2{
                            width: 15px;
                            height: 15px;
                            border: 1.5px solid $primary-color;
                        }
                    }
                    .__writeup{
                        min-width: 92%;
                        font-size: 1.5rem;
                        h2{
                            font-size: 1.5rem;               
                        }
                        .fillercont{
                            .fillerwords{
                                font-size: 1.2rem;              
                            }
                        }
                        
                        .wording__booknow{
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
        .contact{
            .consquare{
                .socials{
                    display: flex !important;
                }
            }
        }
    }
}
    
