*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
    box-sizing: border-box;
    padding-top: 0;
    padding-right: 10px;
    padding-left: 10px;
}
#content{
    header{
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        top: 2%;
        transform: translate(2%, -50%);
        max-width: 95%;
        width: 95%;
        height: 40px;
        background-color: hsl(0, 0%, 68%);
        .icon{
            display: flex;
            justify-content: space-between;
            position: absolute;
            right: 1%;
            .button{
               padding: 10px; 
            }
        }
    }
    .plate{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10%;
        top: 4%;
        overflow: hidden;
        z-index: -1;
        width: 550px;
        height: 550px;
        border-radius: 50%;
        border: 1px solid black;
        // background-color: black;
        &__image{
            position: relative;
            height: 100%;
        }
    }
    .wording{
        width: 300px;
        height: 300px;
        display: grid;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.8fr;
        position: absolute;
        padding: 5px;
        top: 25%;
        left: 10%;
        transform: tranlate(0, -50%);
        &__african{
            color: green;
        }
        &__booknow{
            border-radius: 15px;
            height: 35px;
        }
    }
    .socials{
        width: 50px;
        height: 200px;
        display: grid;
        position: absolute;
        right: 0;
        top: 35%;
        transform: tranlate(0, -50%);
        background-color: black;
        grid-template-rows: auto;
        border-radius: 25px 0 0 25px;
    }
}
