@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "./config";
@import "./catalog";
body{
    background: white;

    font-size: $main;
}
#content{
    padding-right: 10px;
    padding-left: 10px;
    #bgimage{
        object-fit: contain;
        position: absolute;
        right: 0;
        overflow: hidden;
        height: 100vh;
        z-index: -5;
        user-select: none;
        pointer-events: none;
    }   
    header{
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 5%;
        transform: translate(2%, -50%);
        max-width: 100%;
        width: 95%;
        height: 40px;
        .logo{
            #logo{
                width: 25%;
                margin-left: 75px;
                user-select: none;
                pointer-events: none;
            }
        }
        .icon{
            display: flex;
            justify-content: space-between;
            position: absolute;
            right: 0%;
            gap: 10px;
            a{
                text-decoration: none;
                padding: 10px;
                color: black;
                &:hover{
                    background-color: hsl(240, 78%, 65%);
                    color: white;
                }
                &:focus{
                    background-color: hsl(240, 78%, 65%);
                    color: white;
                }
            }
            .button{
               padding: 10px; 
               border-radius: 10px;
               &:hover{
                    background-color: hsl(240, 78%, 65%);
                    color: white;
                }
                &:focus{
                    background-color: hsl(240, 78%, 65%);
                    color: white;
                }
            }
            .active{
                background-color: hsl(240, 78%, 65%);
                color: white;
                a{
                    color: white
                }
            }
        }
        
    }
    .ziglines{
        &__1{
            width: 10%;
            position: absolute;
            top: 20%;
            left: 10%;
        }
        &__2{
            position: absolute;
            top: 63%;
            left: 37%;
            transform: rotate(90deg)
        }
        &__3{
            position: absolute;
            top: 23%;
            left: 47%;
            transform: rotate(140deg)
        }
        &__4{
            position: absolute;
            top: 73%;
            left: 51%;
            transform: rotate(210deg)
        }
        .circle{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid black;
            position: absolute;
            top: 20%;
            left: 40%;
        }
        .circle2{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 6px solid black;
            position: absolute;
            top: 75%;
            left: 10%;
        }
    }
    .plate{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 15%;
        top: 4%;
        overflow: hidden;
        z-index: -1;
        width: 550px;
        height: 550px;
        border-radius: 50%;
        border: 1px solid $primary-color;
        user-select: none;
        pointer-events: none;
        &__image{
            position: relative;
            right: 15%;
            height: 80%;
            filter: drop-shadow(1px 1px 3px black)
        }
    }
    .wording{
        width: 500px;
        height: 300px;
        display: grid;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.8fr;
        position: absolute;
        padding: 5px;
        top: 25%;
        font-family: $fam;
        left: 7%;
        transform: tranlate(0, -50%);
        &__word{
            font-size: $main-size;
        }
        &__african{
            color: green;
            font-size: $main-size;
        }
        &__list{
            font-size: $main;
        }
        &__booknow{
            border-radius: 15px;
            height: 45px;
            width: 60%;
            margin-top: 4px;
            color: white;
            background-color: #FFC440;
            font-size: $main;
            border: none;
        }
    }
    .bg{
        position: absolute;
        right: 0;
        top: 2%;
        z-index: -4;
    }
    .socials{
        width: 50px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 2px;
        font-size: 30px;
        gap: 30px;
        right: 0;
        top: 35%;
        transform: tranlate(0, -50%);
        background-color: white;
        border-radius: 25px 0 0 25px;
    }
}
